// Specific CSS for your home-page
body {
  font-size: 16px;
}

.page-globale {
  position: relative;
}

.search-bar-address {
  position: absolute;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 100vw;
}

form {
  margin-top: 1em;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.marker {
  background-image: asset-url('bike_park.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.address {
  background-image: asset-url('address.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

#map {
  height: 98vh !important;
}

.no-results-container {
    height: 100vh;
    z-index: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.no-results {
  background-color: #c2cae890;
  color: #1d263b;
  border-radius: 4px;
  padding: 0.5em 1em;
  font-weight: bolder;
  font-size: 1.5em;
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
  width: 70%;
  margin-bottom: 1em;
}

.alert-message {
  border-radius: 4px;
  background-color: #b6174b98;
  padding: 0 1em;
  color: white;
  font-weight: bolder;
  text-shadow: 0 4px 16px rgba(0,0,0,0.1);
  font-size: 1.5em;
  width: 70%;
  margin-bottom: 1em;
}

.footer {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2vh;
  bottom: 0;
  background-color: rgba(255,255,255,0.6);
  font-size: 10px;
  text-align: center;
}

// @media(max-width: 500px) {
//   #search_address {
//     font-size: 0.5em;
//   }
// }
