<div class="info">
  <div class="carac">
    <div class="text">
      <%= bike_park.capacity %> places
    </div>
    <div class="text">
      <%="#{(Geocoder::Calculations.distance_between(bike_park, address)*1000).round}m"%>
    </div>
  </div>

  <div class="carac">
    <div class="text-clair">
      <% if bike_park.covered %>
        non couvert
      <% else %>
        couvert
      <% end %>
    </div>
    <div class="text-clair">
      <% if bike_park.free %>
        gratuit
      <% else %>
        payant
      <% end %>
    </div>
    <% if bike_park.typology.downcase != "inconnu" %>
      <div class="text-clair">
        <%= bike_park.typology.capitalize %>
      </div>
    <% end %>
  </div>
  <div class="lien">
    <a href='https://citymapper.com/go/r2wgtb5jvm' target="_blank"><img src="https://static.citymapper.com/img/embed/GetMeThere_Citymapper.png" alt="Get directions with Citymapper" /></a>
  </div>
</div>


