.go {
  display: block;
  background-color: #c2cae8;
  color: #1d263b;
  border-radius: 4px;
  margin-top: 0.5em;
  margin-left: 2em;
  padding: 0.25em 0.5em;
  font-weight: bolder;
  font-size: 1.5em;
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
}

.disabled {
  opacity: 0.5;
}

.none {
  display: none;
}

.autour-go {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

@media(max-width: 350px) {
  .autour-go {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1em;
    text-align: center;
  }
  .go {
    margin-left: 0;
    font-size: 1em;
  }
}
