.info {
  width: 90vw;
  margin: auto;
  background-color: rgba(255,255,255,0.8);
  border-radius: 10px;
  padding: 1em 0;
}

.carac {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: auto;
  margin-bottom: .5em;
}

.text, .text-clair {
  background-color: #3b3355;
  color: white;
  border-radius: .5em;
  padding: .25em .5em;
  text-align: center;
  flex-grow: 0;
  margin: .25em;
  flex-shrink: 0;
  font-size: 16px;
  font-weight: bolder;
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
}

.text-clair {
  background-color: #5c6784;
}

.park-address {
  padding: 1em;
  display: flex;
  text-align: center;
  font-style: italic;
  font-size: 16px;
}

.lien {
  text-align: center;
}



